.gridItem {
  display: flex; 
  flex-direction: column;
  width: 210px;
  justify-content: center;
  align-items: center;
  height: 200px;
  box-shadow: 0 6px 4px 2px rgba(9, 9, 9, 0.23);
  border-radius: 22px;
}
@media screen and (max-width: 768px) {
    .gridItem{
      width: 50%;
      margin: 5% auto;

    }}