 @import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;400;500&display=swap');
:root{
  --primary-color:blue;
  --secondery-color:rgba(0, 0, 255, 0.523);
}
body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  font-family: 'Oswald', sans-serif;
}
